
body {
    font-family: 'Nunito', sans-serif;

}

h1 { 
    text-align: center;
    color: white;
    background-color: cornflowerblue;
}


.ice-cream { 
    margin: auto;
    display: block;
}

h2 { 
    background-color: darkorange;
    color: white;
}

h3 { 
    color: white;
    background-color: black;
}